html, body, body .page {
    height: 100%;
    min-height: 100%;
}

body {
    position: relative;
}

    body div.page {
        width: 95%;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
}

    .overlay .center-block {
        margin-top: 20%;
        width: 40%;
    }

    .overlay h2 {
        color: white;
    }


#clock-container {
    background-color: grey;
    padding: 0 35%;
    border: solid 2px white;
}


#main-container {
    min-height: 70%;
    background-color: white;
    border: solid 2px white;
    padding: 0 2em;
}

#foot-container {
    height: 10%;
    background-color: grey;
    border: solid 1px white;
}

.time-digits div {
    font-size: 6em;
    display: inline-block;
    border: solid 2px grey;
}


div.score {
    color: white;
}

    div.score.completed {
        background-color: green;
    }

    div.score.skipped {
        background-color: yellow;
    }

    div.score p.score {
        font-size: 5em;
    }

    div.score p.tag {
        font-size: 2em;
    }

.overlay .center-block .row {
    margin: 3em;
}


#main-container, #foot-container {
    text-align: center;
}

    #main-container h1.word {
        padding: 10%;
        font-size: 7em;
    }


    #foot-container p.tag {
        color: white;
        font-size: 2em;
    }

    #foot-container .box {
        font-size: 3em;
        color: white;
        text-align: center;
    }
