<!DOCTYPE html>
<html lang="en" ng-app="guessApp">
<head>
    <title>Guess what!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="guess.js"></script>
</head>
<body class="center-block">
    <div ng-view class="view center-block"></div>
    <script type="text/ng-template" id="rules.html">
        <div class="center-block rules-page">
            <div class="center-block header navbar navbar-inverse navbar-fixed-top">
                <span class="title">Game Rules</span>
            </div>
            <div class="center-block content container-fluid body-content">
                <div class="jumbotron">
                    <h2>Game Rules</h2>
                    <p>
                        3 people makes a team. You can either have 1 describer and 2 guesser, or 2 describer and 1 guesser. Describer will get 20 words or phrases. Describer will need to describe it under a few rules, and guesser will need to guess. Only the exact match counts.
                        When describing:
                    </p>
                    <ul>
                        <li>
                            <p>You can say how many words are there. For “red” you can say “one word”. For “green trees” you can say “two words”.</p>
                        </li>
                        <li>
                            <p>You cannot directly say the word. For “green trees” you cannot say “green” or “trees”.</p>
                        </li>
                        <li>
                            <p>You cannot say any other forms of the word. For “trader”, you cannot say “people who trades”.</p>
                        </li>
                        <li>
                            <p>You cannot describe the word itself. For “bee” you cannot say “some word beginning with B and has 3 letters”. You cannot say “something pronounce same as the 2nd letter”.</p>
                        </li>
                        <li>
                            <p>You can only describe, you cannot act or draw picture. For “credit card” you cannot pick out one from your wallet.</p>
                        </li>
                        <li>
                            <p>You can give up one word at any time. However for word you gave up, you cannot describe again.</p>
                        </li>
                    </ul>

                    <h2>Game Modes</h2>
                    <p>Normal Mode</p>
                    <p>There will be 20 words and 8 minutes. Each words you missed, either skipped or left when time is up, will add 60 seconds. Team with least time wins.</p>

                    <p>Arcade Mode</p>
                    <p>There will be 20 words and 4 minutes. You can skip as many as you like. Team correctly guessed most words wins.</p>

                    <p>Speed Mode</p>
                    <p>There will be plenty of words and 90 seconds. Team correctly guessed most words wins. Each successfully guess will earn extra 15 seconds, each skip will cost 30 seconds.</p>
                </div>
            </div>

            <div class="center-block footer navbar-fixed-bottom">
                <a href="#/category">Let's start</a>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="category.html">
        <div class="center-block category-page">
            <div class="center-block header navbar navbar-inverse navbar-fixed-top">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true" ng-click="PreviousMode()"></span>
                <span ng-repeat="mode in modes" class="title" ng-show="mode == currentMode.Name">
                    {{mode}}
                </span>
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-click="NextMode()"></span>
            </div>
            <div class="center-block content container-fluid body-content">
                <div class="jumbotron">
                    <div ng-repeat="category in categories" class="col-md-1 categoryContainer" ng-click="goto(category)">
                        {{category}}
                    </div>

                    <h2 ng-show="categories.length==0">
                        No category left. Refresh page to try again.
                    </h2>
                </div>

            </div>

            <div class="center-block footer navbar-fixed-bottom">
                <h5>Build by lastr2d2. Wayne Wang</h5>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="guesswhat.html">
        <div class="overlay" ng-hide="IsRunning() || IsCompleted()">
            <div class="center-block text-center go-container" ng-click="Start()">
                <p>Go!</p>
            </div>
        </div>
        <div class="center-block guess-page">
            <div class="center-block header navbar navbar-inverse navbar-fixed-top">
                <div class="center-block row" id="clock-container" ng-hide="IsCompleted()">
                    <div class="col-md-2 col-md-offset-2 time-digits">{{GetHours()}} </div>
                    <div class="col-md-1 time-digits">:</div>
                    <div class="col-md-2 time-digits">{{GetMinutes()}}</div>
                    <div class="col-md-1 time-digits">:</div>
                    <div class="col-md-2 time-digits">{{GetSeconds()}}</div>
                </div>
                <div class="row" ng-show="IsCompleted()">
                    <span class="title">
                        {{currentMode.Name}}
                    </span>
                </div>
            </div>
            <div class="center-block content container-fluid body-content">
                <div class="jumbotron center-block" ng-hide="IsCompleted()">
                    <div class="word-container center-block" style="box-shadow: 10px 10px 25px 0px {{rgb()}}">
                        <p class="word">{{current}}</p>
                    </div>
                    <div class="button-group">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="MoveNext()"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="Skip()"></span>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="Skip(1)"></span>
                    </div>
                </div>

                <div class="jumbotron center-block" ng-show="IsCompleted()">
                    <div class="center-block">
                        <div class="row">
                            <div class="col-md-4 stat-container">
                                <div>
                                    <p class="key">Completion Time</p>
                                    <p class="value">{{seconds}}</p>
                                    <p class="unit">Seconds</p>
                                </div>
                            </div>
                            <div class="col-md-4 stat-container">
                                <div>
                                    <p class="key">Successful Guess</p>
                                    <p class="value">{{GetCompletedCount()}}</p>
                                    <p class="unit">Words</p>
                                </div>
                            </div>
                            <div class="col-md-4 stat-container">

                                <div>
                                    <p class="key">Skipped Guess</p>
                                    <p class="value">{{GetSkippedCount()}}</p>
                                    <p class="unit">Words</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="final-score-container col-md-12">
                                <div>
                                    <p class="title">Your Final Score</p>
                                    <p class="score">{{GetScore()}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-block footer navbar-fixed-bottom">
                <div ng-hide="IsCompleted()">
                    <p>Completed: {{GetCompletedCount()}}</p>
                    <p>Remaining: {{GetPendingCount()}}</p>
                    <p>Skipped: {{GetSkippedCount()}}</p>
                </div>
                <div ng-show="IsCompleted()">
                    <a href="#/category">Try another category</a>
                </div>
            </div>
        </div>
    </script>
</body>
</html>